@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --breakpoint-tablet: 834px;
  --breakpoint-desktop: 1256px;
}

@layer base {
  @font-face {
    font-family: DrukWide;
    src: url("/fonts/DrukWide-Medium-Trial.otf");
  }

  @font-face {
    font-family: BricolageGrotesque;
    src: url("/fonts/BricolageGrotesque-Light.ttf");
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.absolute-center-y {
  @apply absolute left-1/2 -translate-x-1/2;
}

.p-container {
  @apply px-[20px] tablet:px-9 py-[20px] desktop:py-9;
}
